# Node / pnpm
node_modules
.pnpm-store
npm-debug.log*
pnpm-debug.log*

# Build Artefakte
dist
build
turbo

# Drizzle Migrations (kannst du auch tracken, wenn du willst)
drizzle

# Umgebungsvariablen
.env
.env.*
!.env.example

# Editor / OS
.vscode
.DS_Store
Thumbs.db

# Turborepo
.turbo/

